# Set bluetooth power up
ACTION=="add", SUBSYSTEM=="bluetooth", KERNEL=="hci[0-9]*", RUN+="/bin/s6-svc -u /var/run/s6/services/bt_power", RUN+="/bin/s6-svc -r /var/run/s6/services/bt_multimedia_button"
